{% extends "main.html" %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="home-container">
    <div>
        {% include "base/types_component.html" %}
    </div>

    <div>
        <div>
            <h5>Number of events {{events_count}}</h5>
            <a href="{% url "create-event" %}"> Create Event</a>
            <hr>
            {% include "base/events_component.html" %}

        </div>
    </div>

    <div>
        {% include "base/activity_component.html" %}
    </div>

</div>
{% endblock content %}